body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: orange;
}

.nav .nav-link.active {
    background-color: #fff;
    color: orange;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}

.section-title {
    font-family: 'Pacifico', cursive;
}

.section-title span {
    color: orange;
}

#sobre {
    background-color: #ffeae6;
}