body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: orange;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: orange;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}

.section-title {
    font-family: 'Pacifico', cursive;
}

#sobre,
#cardapio {
    background-color: #ffeae6;
}

.text-colored {
    color: orange;
}

.nav-cardapio .nav-link.active {
    color: #fff;
    background-color: orange;
}

.nav-cardapio .nav-link:hover {
    color: orange;
}